.cards{
	display: flex;
	flex-wrap: wrap;
}

.card {
	background:#223c5f;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 9px 11px 2px rgba(253, 140, 62,0.4);
	border-radius: 6px;
	margin: 20px 10px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img{
	width: 120px;
  	height:120px;
  	margin: 20px;
  	border-radius: 6px;
  	font-size: 20px;
}

.card h3{
	flex-grow: 1;
	padding-left:20px;
	font-size: 20px;
	color: white;
}